POSTGRES_DB=rh_folha
POSTGRES_USER=rh_folha_user
POSTGRES_PASSWORD=rh_folha_dev_password
POSTGRES_PORT=5434
Authentication__Jwt__Issuer=RhFolha
Authentication__Jwt__Audience=RhFolhaFrontend
Authentication__Jwt__Secret=change-this-secret-with-at-least-32-bytes
Authentication__Jwt__ExpiresMinutes=480
Authentication__SeedAdmin__Email=admin@rhfolha.local
Authentication__SeedAdmin__Password=change-this-admin-password
Authentication__SeedAdmin__FullName=Administrador
