[Unit]
Description=RH Folha API
After=network.target postgresql.service

[Service]
WorkingDirectory=/opt/rh-folha/api
ExecStart=/usr/bin/dotnet /opt/rh-folha/api/RhFolha.Api.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=rh-folha
User=www-data
EnvironmentFile=/etc/rh-folha/rh-folha.env
Environment=DOTNET_GCHeapHardLimit=300000000
Environment=DOTNET_GCConserveMemory=7

[Install]
WantedBy=multi-user.target
