ASPNETCORE_ENVIRONMENT=Homologation
ASPNETCORE_URLS=http://127.0.0.1:5086

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=rh_folha;Username=rh_folha_user;Password=troque_esta_senha

Authentication__Jwt__Issuer=RhFolha
Authentication__Jwt__Audience=RhFolhaFrontend
Authentication__Jwt__Secret=troque-por-um-segredo-grande-com-mais-de-32-caracteres
Authentication__Jwt__ExpiresMinutes=480

Authentication__SeedAdmin__Email=admin@caruaru.tec.br
Authentication__SeedAdmin__Password=troque-esta-senha-inicial
Authentication__SeedAdmin__FullName=Administrador

Database__ApplyMigrations=true
